---
name: home
url: /
---

<table ng-controller="LeagueController">
  <th>Pos</th>
  <th>Team</th>
  <th>Pts</th>
  <th>P</th>
  <th>W</th>
  <th>D</th>
  <th>L</th>
  <th>Test</th>
  <tr ng-repeat="team in league.standing">
    <td>{{team.position}}</td>
    <td><a href="#!/fixtures">{{team.teamName}}</a></td>
    <td>{{team.points}}</td>
    <td>{{team.playedGames}}</td>
    <td>{{team.wins}}</td>
    <td>{{team.draws}}</td>
    <td>{{team.losses}}</td>
    <td>{{team._links.team.href}}</td>
  </tr>
</table>
